body {
	margin: 0px;
}

.content {
	height: 100%;
	width: 100%;
}

.img {
	z-index: -1;
}

.img img {
	width: 100%;
	height: 100%;
}

.search {
	position: fixed;
	left: 28%;
	top: 40%;
}

.search .text {
	width: 550px;
	height: 37px;
	border-radius: 8 3 3 8;
	font-size: 14px;
}

.search .btn {
	height: 35px;
	width: 80px;
	border: 0px;
	border-radius: 3 8 8 3;
	background-color: #5bc0de;
	color:white;
	font-size: 14px;
}